/*  local css*/

#menu-main {
    background-color:  blue;
  }
  
  .container {
      background-color: yellow;
  }
  
  .img-home {
      width: 150px;
  }
  .produto .col-right #product-Name .productName{
    font-size: 16px;
    color: white;
}
  